.risco:checked + input {
  text-decoration: line-through solid black;
}

.risco.risco:hover + input {
  background-color: blue;
}

.Recipes-container {
  background-color: #f2f2f2;
  margin: auto;
  width: 360px;
}

.Recipes-title {
  padding: 10px;
}

.Recipes-img {
  height: auto;
  margin: auto;
  max-height: 400px;
  max-width: 360px;
  padding-bottom: 20px;
  width: auto;
}

.Recipes-video {
  height: 400px;
  margin: auto;
  width: 360px;
}

.Recipes-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  width: 100px;
}

.Recipes-button button {
  border: none;
}

.Recipes-carrosel {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 360px;
}

.startRecipes-meal button {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 7px;
}

@media screen and ( min-width : 720px ) {

  .Recipes-container {
    background-color: #f2f2f2;
    font-size: 20px;
    margin: auto;
    width: 700px;
  }

  .RecipesMeal-img {
    height: 300px;
    width: 500px;
  }

  .Recipes-video {
    height: 400px;
    margin: auto;
    width: 100%;
  }
}

