.container-profile {
  align-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  width: 360px;
}

.container-profile button {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.container-profile button:hover {
  background-color: orange;
  color: white;
  transform: scaleX(1.2);
  transition: 0.5s;
}

.container-profile .button-logout {
  background-color: red;
  color: white;
}
